@import 'bootstrap/dist/css/bootstrap.min.css';

// text colors
$red: #f52828;
$blueLight: #cee1f0;
$blueDark: #607990; 
$purple: #6f6c94;
$green: #607B6B;

// bg colors
$accentColor: #404e5b;
$darkPrimary: #262626;

:root {
    --red: #f52828;
    --blueLight: #cee1f0;
    --blueDark: #607990; 
    --purple: #6f6c94;
    --green: #607B6B;
    --primary: #000;
    --accentColor: #404e5b;
    --darkPrimary: #262626;
}

.textha {
    color: burlywood;
}