.publisher--svg-icon {
    width: 7em;
    height: 7em;
}

.publisher--svg-container {
    display: flex;
}

.publisher--svg-body {
    background-color: #000;
    border-radius: 100%;
    padding: 5%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--bg-purple {
    background-color: #d3d0ee;
}

.icon--bg-darkGray {
    background-color: #607990;

}

.icon--bg-lightBlue {
    background-color:#cee1f0 ;

}

.icon--bg-darkBlue {
    background-color:#0F2039 ;

}

.icon--bg-brown {
    background-color: #624a42;

}

.icon--bg-lightGray {
    background-color: #607990;

}

.icon--bg-green {
    background-color:#bbe0c4 ;

}

.icon--bg-navy {
    background-color:#0b1929 ;

}

.icon--bg-gray {
    background-color: #F7F7F7;

}